@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff")  format("woff");
  src: url("../fonts/OpenSans-Bold.woff2")  format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "OpenSans-Regular", Arial, sans-serif;  
}


/*-------------------------------Шапка страницы-----------------------------*/
.main-header {
  position: relative;

  background-color: #0a0d35;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main-header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
  
  background-color: #0a0d35;
  opacity: 0.9;
}

.main-header-content {
  position: relative;
  z-index: 2;

  max-width: 1530px;
  margin-right: auto;
  margin-left: auto;

  padding-left: 9.48%; 
  padding-right: 9.48%;  
}

.main-header-content svg,
.main-footer-content svg {
  fill: #ffffff;
}

.main-header-logo,
.main-footer-logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.main-header-title {
  display: flex;
  flex-direction: column;
  
  font-family: "OpenSans-Bold", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.main-header-links-box,
.main-footer-links-box {
  display: flex;
  
  justify-content: space-between;
}

.links-card {
  display: flex;
  box-sizing: border-box;
  height: 77px;

  font-size: 14px;  
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #5e3db3;
  border-radius: 35px;  
}

.links-card svg{
  width: 40px;
}

.link-GooglePlay {
  padding-left: 8.4%;
}

.links-card.link-AppStore svg {
  margin-top: -5px;
  padding-left: 13%;
}

.links-text {
  margin-left: 25px;    
}

.links-text {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.links-text-row-2 {
  font-family: "OpenSans-Bold", Arial, sans-serif;
}

/*---------------------Основное содержание--------------------------------------*/
.main-content {
  max-width: 1920px;
}

.our-team-article {
  position: relative;
  overflow: hidden;
}

.section-row {
  display: flex;
  justify-content: flex-end;
}

.our-team-article:nth-of-type(2n) .section-row {
  justify-content: flex-start;
}

.section-title {
  margin: 0;

  font-size: 80px;
  font-family: "OpenSans-Bold", Arial, sans-serif;
  text-transform: uppercase;

  color: #e7e7e7;
}

.athlets .info-block-2 {
  background-color: #f6f4fb;
}

.athlets .info-block-3 {
  background-color: #5e3db3;
}

.players .info-block-2 {
  background-color: #f5f6f7;
}


.players .info-block-3 {
  background-color: #0a0d35;
}

.our-team .img-box {
  position: absolute;

  display: block;
}

.our-team-img {
  display: block;
}

.info-block-header {
  display: flex;
}

.info-block-header-title {
  margin-bottom: 0;
  margin-top: 0;

  font-family: "OpenSans-Bold", Arial, sans-serif;

  color: #c1c1c1;
  text-transform: uppercase;
}

.info-block-number {
  position: relative;
  
  font-size: 18px;
  font-family: "OpenSans-Bold", Arial, sans-serif;
}

.athlets .info-block-3 .info-block-number {
  color: #0a0d35;
}

.players .info-block-3 .info-block-number {
  color: #916fe9;
}

.info-block-number::before {
  content:"";
  position: absolute;
  top: 25px;

  width: 20px;
  height: 5px;

  background-color: #5e3db3;
  border-radius: 2px;
}

.info-block-3 .info-block-number::before {
  background-color: #efefef
}

.info-content {
  margin: 0;
  padding: 0;
}

.info-block-3 .info-content {
  color: #ffffff;
}

.our-activity-articles {
  display: flex;
}

.our-activity-prevew-box {
  position: relative;
}

.our-activity-prevew-box picture{
  display: block;
}

.our-activity-preview {
  display: block;

  object-fit: cover;
} 

.our-activity-title {
  margin: 0;

  font-size: 80px;
  font-family: "OpenSans-Bold", Arial, sans-serif;
  text-transform: uppercase;
  color: #c1c1c1;
}

.our-activity-info {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.article-label {
  position: absolute;
  
  display: flex;
  justify-content: center;
}

.article-label-number {
  position: relative;

  margin-top: 54px;

  font-size: 24px;
  font-family: "OpenSans-Bold", Arial, sans-serif;
  color: #f5f6f7;
}

.article-label-number::before {
  position: absolute;
  top: 35px;
  left: 2px;

  content: "";
  width: 25px;
  height: 5px;

  background-color: #8f78ca;
  border-radius: 2px;
}

/*--------------------Подвал сайта---------------------------*/
.main-footer {
  position: relative;

  background-color: #0a0d35;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main-footer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
  
  background-color: #0a0d35;
  opacity: 0.9;
}

.main-footer-content {
  position: relative;
  z-index: 2;

  margin-right: auto;
  margin-left: auto;  
}

.main-footer-header {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.main-footer-logo-symbol {
  box-sizing: border-box;

  background-color: #724dd3;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-text-row-1 {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  
  color: #ffffff;
  text-transform: uppercase;
}

.logo-text-row-2 {  
  color: #a495cc;
  text-transform: uppercase;
}

/*-----------------------Медиа-запросы------------------------------*/
@media (max-width: 640px) {  
  .main-header {
    min-width: 320px;     

    background-image: url("../images/football_767.jpg");     
  }

  .main-header-content {
    position: relative;
    z-index: 2;

    padding-top: 33px;
    padding-bottom: 83px;

    max-width: 280px;
  }

  .main-header-logo,
  .main-footer-logo {
    width: 133px;
  }

  .main-header-title {
    margin-top: 127px;
    margin-bottom: 83px;

    font-size: 28px;
    letter-spacing: 1px;
  }

  .main-header-title .row-2 {
    margin-top: 15px;
    margin-left: 45px;

    line-height: 1.2;
  }

  .main-header-links-box,
  .main-footer-links-box {
    flex-direction: column;
  }

  .links-card {
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-left: 81px;

    font-size: 8px;

    border-radius: 35px;;
  }

  .links-card:not(:first-of-type) {
    margin-top: 15px;
  }

  .links-card svg{
    width: 22px;
  }

  .links-text {
    margin-left: 8px;  

    word-spacing: 2px;  
  }

  .main-content {
    min-width: 320px;
  }

  .our-team {
    display: flex;
    flex-direction: column;
  }

  .our-team-article {
    position: static;
  }

  .section-row {
    padding-right: 20px;
    padding-left: 20px;

    justify-content: flex-start;
  }

  .athlets .info-block-1 {
    padding-bottom: 45px;
  }

  .athlets .info-block-2 {
    padding-top: 45px;
    padding-bottom: 51px;
  }

  .athlets .info-block-3 {
    padding-top: 38px;
    padding-bottom: 53px;
  }

  .players .info-block-1 {
    padding-top: 30px;
    padding-bottom: 45px;
  }

  .players .info-block-2 {
    padding-top: 45px;
    padding-bottom: 37px;
  }

  .players .info-block-3 {
    padding-top: 34px;
    padding-bottom: 54px;
  }

  .section-title {
    font-size: 50px;
    padding-top: 7px;
    padding-bottom: 5px;
  }

  .our-team .img-box {
    position: static;

    margin-bottom: 7px;
  }
  
  .players .img-box {
    margin-bottom: 6px;
  }

  .our-team-img {
    margin-right: auto;
    margin-left: auto;
  }

  .info-block-header {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .info-block-header-title {
    margin-top: -3px;
    margin-left: 8px;

    font-size: 23px;
    letter-spacing: 1px;    
  }

  .info-block-number {
    font-size: 14px;
  }

  .info-block-number::before {
    content:"";
    position: absolute;
    top: 19px;

    width: 16px;
    height: 4px;
  }

  .info-content {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 1px;
    word-spacing: -1px;
  }

  .our-activity-articles {
    flex-direction: column;
  }

  .our-activity-prevew-box {
    padding-bottom: 11px;
  }
  
  .our-activity-preview {
    width: 100%;
  } 

  .our-activity-content { 
    padding-right: 20px;
    padding-left: 20px;
  }

  .our-activity-title {
    margin-top: 20px;
    margin-bottom: 15px;

    font-size: 24px;
  }  

  .be-active-title {
    margin-bottom: 11px;
  }

  .our-activity-info {
    padding-bottom: 77px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 1px;
    word-spacing: -1px;
  }

  .work-it-info {
    padding-bottom: 66px;
  }

  .article-label {
    bottom: 0;
    left: 20px;

    display: flex;
    width: 69px;
    height: 70px;

    background-color: #5e3db3;
  }

  .article-label-number {
    margin-top: 23px;

    font-size: 14px;
  }

  .article-label-number::before {
    top: 20px;

    width: 15px;
    height: 4px;
  }

  .main-footer {
    padding-top: 100px;
    padding-bottom: 10px;

    background-image: url("../images/game_767.jpg");
  }

  .main-footer-content {
    width: 280px;
  }

  .main-footer-header {
    margin-bottom: 72px;
    flex-direction: column;
    align-items: center;    
  }

  .main-footer-logo-symbol {
    width: 73px;
    height: 73px;
    margin-bottom: 49px;
    padding: 10px;

    border-radius: 15px;
  }

  .logo-text {
    align-items: center;
  }

  .logo-text-row-1 {
    font-size: 32px;
    letter-spacing: 1px;
  }

  .logo-text-row-2 {
    font-size: 14px;
    word-spacing: 1px;
    
    color: #9b8dc3;
  }

  .main-footer-logo {
    margin-top: 84px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .main-header {
    background-image: url("../images/football_767.jpg");    
  }

  .main-header-content {
    padding: 39px 7.45% 91px;
  }  

  .main-header-logo,
  .main-footer-logo {
    width: 205px;
  }
  
  .main-header-title {
    margin-top: 160px;
    margin-bottom: 300px;

    font-size: 64px;
    letter-spacing: 3px;
  }

  .main-header-title .row-1 {
    margin-left: 4.9%;        
  }

  .main-header-title .row-2 {
    margin-top: -4px;
    margin-left: 21.3%;     

    line-height: 1.2;
  }  

  .section-row {
    padding-right: 30px;
    padding-left: 30px;
  }
  
  .our-team-article .section-row-wrapper {
    width: calc(100% - 262px);
  }

  .our-team-article:nth-of-type(2n) .section-row-wrapper {
    width: calc(100% - 286px);
  }

  .section-row-title {
    padding-top: 56px;
    padding-bottom: 28px;
  }

  .info-block-1 {
    padding-top: 5px;
    padding-bottom: 33px; 
  }  

  .info-block-2 {
    padding-top: 33px;
    padding-bottom: 32px; 
  }  

  .info-block-3 {
    padding-top: 35px;
    padding-bottom: 30px;

    word-spacing: -2px; 
  }

  .players .info-block-1 {
    padding-top: 6px;
  }  

  .players .info-block-2 {
    padding-top: 35px;

    word-spacing: 2px; 
  }  

  .players .info-block-3 {
    padding-top: 36px;
    padding-bottom: 32px;    
  } 

  .info-block-header-title {
    margin-top: -4px;
    margin-left: 11px;
    
    font-size: 32px;
    letter-spacing: 1px;
  }
  
  .info-content {
    margin-top: 18px;

    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 1px;
  }

  .info-block-2 {
    background-color: #f5f4f9;
  }

  .athlets .info-block-3 {
    background-color: #5e42b0;
  }  

  .players .info-block-3 {
    background-color: #090c35;
  }

  .players .info-block-3 .info-block-number {
    color: #5e48a0;
  }  

  .info-block-3 .info-block-number::before {
    background-color: #efefef
  }

  .athlets .info-block-3 .info-block-number {
    color: #0a0e34;
  }

  .players .info-block-3 .info-block-number {
    color: #8765dd;
  }  

  .our-team-article:nth-of-type(2n+1) .img-box {
    left: -162px;
    top: 95px;
  }

  .our-team-article:nth-of-type(2n) .img-box {
    top: 41px;
    right: 0;
  }

  .our-activity-articles {
    flex-direction: column;
  }

  .our-activity-articles picture {
    width: 100%;
    height: 583px;

    overflow: hidden;
  }

  .our-activity-prevew-box {
    padding-bottom: 26px;
  }

  .be-active-article .our-activity-prevew-box {
    padding-bottom: 36px;
  }  

  .our-activity-content {
    padding: 27px 51px 100px 30px;
  }

  .find-contact-content {
    padding-top: 27px;
    padding-bottom: 107px;
  }

  .work-it-content {
    padding-top: 28px;
    padding-bottom: 112px;
  }

  .our-activity-title {
    margin-left: -3px;
    margin-bottom: 10px;
  }

  .our-activity-info {
    letter-spacing: 1px;
    word-spacing: 2px;
  }

  .article-label {
    bottom: 0;
    left: 33px;

    width: 116px;
    height: 115px;

    background-color: #5e42b0;
  }  

  .article-label-number {
    margin-top: 35px;
  }

  .article-label-number::before {
    top: 35px;

    width: 28px;
    height: 5px;
  }

  .main-footer {
    padding-top: 126px;
    padding-bottom: 23px;

    background-image: url("../images/game_767.jpg");
  }

  .main-footer-content {
    width: 91.4%;
  }

  .main-footer-header {
    margin-bottom: 277px;

    flex-direction: column;
  }

  .main-footer-logo-symbol {
    width: 131px;
    height: 137px;
    margin-bottom: 54px;
    padding: 15px;

    color: #714bd2;
    border-radius: 27px;
  }

  .logo-text-row-1 {
    font-size: 80px;
  }

  .logo-text-row-2 {
    margin-top: -5px;

    font-size: 36px;
 
    color: #a496ca;
  }

  .main-footer-links-box {
    padding-right: 26px;
    padding-left: 26px;
  }

  .links-card {
    width: 310px;
  }

  .main-footer-logo {
    margin-top: 54px;
  }
}

@media (min-width: 961px) {
  .main-header {
    padding-top: 45px;
    padding-bottom: 110px;

    background-image: url("../images/football_1920.jpg");    
  }

  .main-header-logo,
  .main-footer-logo {
    width: 191px;
  }

  .main-header-title {
    margin-top: 264px;
    margin-bottom: 215px;

    font-size: calc(3.125vw + 30px);
 
    letter-spacing: 4px;
  }

  .main-header-title .row-1 {
    align-self: flex-start;
  } 

  .main-header-title .row-2 {
    margin-top: -15px;

    align-self: flex-end;

    line-height: 1;
  }

  .main-header-links-box,
  .main-footer-links-box {
    width: 672px;
    margin-right: auto;
    margin-left: auto;
  }

  .links-card {
    width: 46.1%;
    padding-left: 4.8%;
  }

  .link-GooglePlay {
    padding-left: 7.4%;  
  }

  .links-card svg{
    width: 45px;
  }

  .section-row-title {
    padding-top: 87px;
    padding-bottom: 28px;
  }

  .section-row:nth-of-type(n+2) {
    padding-top: 55px;
    padding-bottom: 55px; 
  }

  .players .info-block-1 {
    padding-top: 57px;
  }

  .players .info-block-2 {
    padding-bottom: 83px;
  }

  .players .info-block-3 {
    padding-bottom: 56px;
  }

  .section-row-wrapper {
    width: 38%;
    padding-right: 9.48%;
  }

  .our-team-article:nth-of-type(2n) .section-row-wrapper {
    width: 39.06%;
    padding-left: 10%;    
  }

  .info-block-header {
    margin-bottom: 15px;
  }

  .players .info-block-2 .info-block-header {
    margin-bottom: 24px;
  }

  .info-block-header-title {
    margin-top: -7px;
    margin-left: 11px;

    font-size: 36px;
    letter-spacing: 1px;
  }

  .info-content {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .our-team-article:nth-of-type(2n+1) .img-box {
    right: calc(47.48% + 50px);
    top: 27px;
  }

  .our-team-article:nth-of-type(2n) .img-box {
    top: 23px;
    left: 42%;
  }

  .our-activity-articles:nth-of-type(2n) .our-activity-prevew-box {
    order: 2;
  }

  .our-activity-prevew-box,
  .our-activity-content {
    width: 50%;    
  }

  .be-active-article-preview {
    overflow: hidden;
  }

  .our-activity-preview {
    height: 38.021vw;
  }

  .our-activity-content {
    box-sizing: border-box;
    padding-top: calc(13.958vw - 19px);  
    padding-right: 10.104vw;
    padding-left: 6.458vw;
  }

  .our-activity-articles:nth-of-type(2n) .our-activity-content {    
    padding-right: 6.458vw;
    padding-left: 10.104vw;
  }

  .our-activity-title {    
    margin-bottom: 5.417vw;
    line-height: 1;

    font-size: calc(2.083vw + 40px);  
  }  

  .our-activity-articles:nth-of-type(2n) .our-activity-title {
    margin-bottom: 3.229vw;
  }

  .work-it-article .our-activity-title {
    margin-bottom: 5.104vw;
  }

  .our-activity-info {
    font-size: calc(0.417vw + 16px);
    line-height: calc(1 + 4 / 24);

    letter-spacing: 1px;
    word-spacing: 1px;
  }

  .article-label {
    top: 28.9%;
    right: -4.375vw;
    z-index: 2;

    align-items: center;

    width: 8.75vw;
    height: 8.125vw;

    background-color: #5e3db3;
  }

  .our-activity-articles:nth-of-type(2n) .article-label {
    left: -4.375vw;
  }

  .article-label-number {    
    margin-top: -8.8%;
  }

  .main-footer {
    padding-top: 230px;
    padding-bottom: 51px;

    background-image: url("../images/game_1280.jpg");
  }

  .main-footer-header {
    margin-bottom: 151px;
  }

  .main-footer-logo-symbol {
    width: calc(2.083vw + 90px);
    height: calc(2.5vw + 89px);    
    padding: 20px;

    background-color: #6a46c5;
    border-radius: 26px;
  }

  .logo-text {
    margin-left: 36px;
    margin-top: -8px;

    align-items: flex-start;
  }

  .logo-text-row-1 {
    font-size: calc(3.125vw + 20px);
  }

  .logo-text-row-2 {
    margin-top: -10px;

    font-size: calc(1.042vw + 10px);    
  }

  .main-footer-logo {
    margin-top: 261px;
  }
}

/*------------------Дополнительные медиа-запросы--------------------------*/
@media (min-width: 641px) and (max-width: 767px) {
  
  .our-team-article:nth-of-type(2n) .img-box {
    right: calc(65.625vw - 504px);
  }

  .our-activity-title {
    font-size: 10vw;
  }

  .logo-text-row-1 {
    font-size: 10vw;
  }

  .logo-text-row-2 {
    font-size: 4.7vw; 
  }
}

@media (min-width: 961px) and (max-width: 1450px) {
  .main-header {
    background-image: url("../images/football_1280.jpg");    
  }  

  .main-header-title .row-1 {
    margin-left: 4.9%;        
  }

  .main-header-title .row-2 {
    margin-left: 21.3%;
  }   
}

@media (min-width: 1921px) {
  .main-header {
    background-image: url("../images/football_1920.jpg");    
  }

  .main-header-title {
    font-size: 90px;
  }

  .main-content {
    margin-right: auto;
    margin-left: auto;
  }  

  .our-activity-articles {
    min-height: 730px;
  }

  .our-activity-content {
    box-sizing: border-box;
    padding-top: 248px;  
    padding-right: 183px;
    padding-left: 127px;
  }

  .our-activity-articles:nth-of-type(2n) .our-activity-content {
    padding-right: 125px;
    padding-left: 191px; 
  }

  .our-activity-prevew-box picture {
    overflow: hidden;
  }

  .our-activity-preview {
    max-height: 730px;
  }

  .our-activity-title {    
    margin-bottom: 104px;
    line-height: 1;

    font-size: 80px;  
  }  

  .our-activity-articles:nth-of-type(2n) .our-activity-title {
    margin-bottom: 62px;
  }

  .work-it-article .our-activity-title {
    margin-bottom: 98px;
  }

  .our-activity-info {
    font-size: 24px;
  }

  .article-label {
    top: 212px;
    right: -84px;
    z-index: 2;

    width: 168px;
    height: 156px;   

    align-items: center;
    background-color: #5e3db3;
  }

  .our-activity-articles:nth-of-type(2n) .article-label {
    left: -84px;
  }

  .main-footer {
    background-image: url("../images/game_1920.jpg");
  }

  .main-footer-logo-symbol {
    width: 130px;
    height: 137px;    
  }

  .main-footer-header {
    margin-left: -40px;
  }

  .logo-text-row-1 {
    font-size: 80px;
  }

  .logo-text-row-2 {
    margin-top: -10px;

    font-size: 30px;    
  }
}